body {
    font-family: Lexend;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1500px;
    height: 94px;
}

.nav-logo {
    position: relative;
    flex-shrink: 0;
    margin-left: 250px;
    margin-top: 21px;
    margin-right: 425.34px;
    margin-bottom: 20.19px;
}

.Logo {
    margin-left: 50px;
}

.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu li {
    margin: 30px 10px;
}

.item-main {
    width: 81px;
    height: 16px;
    top: 35px;
    left: 732px;
    gap: 0px;
    opacity: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.item-service {
    width: 61px;
    height: 16px;
    top: 35px;
    left: 843px;
    gap: 0px;
    opacity: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.item-info {
    width: 78px;
    height: 16px;
    top: 35px;
    left: 934px;
    gap: 0px;
    opacity: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.item-doc {
    width: 58px;
    height: 16px;
    top: 37px;
    left: 1042px;
    gap: 0px;
    opacity: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.item-contact {
    width: 59px;
    height: 16px;
    top: 37px;
    left: 1130px;
    gap: 0px;
    opacity: 0px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.item-price {
    font-size: 16px;
    font-weight: 600;
    width: 136px;
    height: 46px;
    background-color: #F9D675;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A202C;
}

.item-price i {
    margin-left: 8px;
}

.arrow-right {
    font-size: 25px;
    margin-left: 9px;
    font-weight: 500;
    margin-top: 5px;
}

.arrow-down {
    font-size: 25px;
    margin-left: 9px;
    font-weight: 500;
    border-radius: 25px;
    color: #F9D675;
    border-color: #F9D675;
    border: 2px solid #F9D675;
    border-width: 3x;
    margin-top: 10px;
}

.hamburger {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    height: 790px;
    width: 100wh;
    font-family: Lexend;
    font-weight: bold;
    background-image: url('Pictures/Rectangle 29.png');
    position: relative;
    margin: 0;
    padding: 0;
}

.hero.img {
    position: relative;
    object-fit: cover;
    z-index: -1;
    color: grey
}

.lowerImg {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 429px;
    gap: 0px;
    width: 736px;
    height: 359px;
    mix-blend-mode: luminosity;
    opacity: 0.15px;

}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 211px;
    margin-left: 300px;
    margin-top: 107px;
    margin-right: 750px;
    width: auto;
    height: auto;
    top: 201px;
    left: 150px;
    border-radius: 25px;
}

.text-content {
    width: 600px;
    height: 376px;
    top: 107px;
    left: 150px;
    gap: 0px;
    border-radius: 25px 0px 0px 0px;
    opacity: 0px;
}

.text-content h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;

}

.text-content .highlight {
    color: #37a7a5;
}

.text-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.text-content .Arrow {
    margin-top: 40px;
    font-size: 1.2em;
    color: #C39107;
    display: flex;
    align-items: center;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.text-content .Arrow p {
    margin-top: 25px;
    margin-left: 15px;
    color: #C39107;
    font-weight: 400;
}

.image-content {
    width: 749.77px;
    height: 694px;
    top: 94px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    margin-left: 38px;
}

.image-content img {
    height: 100%;
    width: 100%;
    position: relative;
}

.labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.label {
    background-color: #fff;
    padding: 1.5% 1%;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    display: flex;
    align-items: center;
    position: absolute;
    transform-origin: top left;
}

.label.tech {
    border: 2px solid white;
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    width: 250px
}


.label.tech img {
    width: 60px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.label.cost {
    border: 2px solid white;
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    width: 200px;
}

.label.cost img {
    width: 80px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.label.solution {
    border: 2px solid white;
    position: absolute;
    top: 75%;
    left: 10%;
    display: flex;
}

.label.solution img {
    width: 60px;
    height: 20px;
}

.Arrow span{
    display: flex;
    color: #C39107;
}

.arrow-down{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F9D675;
    z-index: 1;
}
.second-content {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Lexend;
    font-weight: bold;
    justify-content: space-around;
}

.second-container {
    width: 688px;
    height: 150px;
    top: 865px;
    left: 150px;
    gap: 0px;
    opacity: 0px;
    margin-top: 77px;
    margin-left: 300px;
}

.second-container h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;

}

.highlight {
    color: #2d9cdb;
}

.card-content {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3%;
    row-gap: 3%;
    padding: auto;
    margin-top: 3px;
    margin-left: 150px;
    /* width: auto; */
    height: 100%;
}

.second-content-wrapper {
    display: flex;
    width: 100%;
    margin-left: 150px;
}

.card-price {
    background-color: white;
    box-shadow: 0px 4px 25px 0px #4B4B4B26;
    width: 431px;
    height: 281px;
    top: 1021px;
    left: 150px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
}

.card-price img {
    margin: 30px 331px 0px 36px;
}

.card-price h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin: 0px 107px 0px 36px
}

.card-price p {
    margin: 11px 11px 26px 36px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.price-box {
    align-items: center;
    justify-self: center;
    display: flex;
}

.card-cost {
    background-color: white;
    box-shadow: 0px 4px 25px 0px #4B4B4B26;
    width: 431px;
    height: 281px;
    top: 1021px;
    left: 150px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
}

.card-cost img {
    margin: 30px 36px 19px 24px;
}

.card-cost h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin: 0px 107px 0px 36px
}

.card-cost p {
    margin: 11px 11px 26px 36px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.card-time {
    background-color: white;
    box-shadow: 0px 4px 25px 0px #4B4B4B26;
    width: 431px;
    height: 281px;
    top: 1021px;
    left: 150px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
}

.card-time img {
    margin: 30px 36px 19px 24px;
}

.card-time h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin: 0px 107px 0px 36px
}

.card-time p {
    margin: 11px 11px 26px 36px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.card-manage {
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    width: 431px;
    height: 281px;
    top: 1021px;
    left: 150px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
}

.card-manage img {
    margin: 30px 36px 19px 24px;
}

.card-manage h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    margin: 0px 107px 0px 36px
}

.card-manage p {
    margin: 11px 11px 26px 36px;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.card-bg {
    width: 438px;
    height: 805px;
    position: absolute;
    z-index: -1;
    top: 1%;
    left: 48%;
    gap: 0px;
    border-radius: 25px 0px 0px 0px;
    opacity: 0px;
    margin-left: 150px
}

.card-bg img {
    height: auto;
    object-fit: cover;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;

        width: auto;
        height: auto;
    }

    .hamburger {
        display: block;
        margin-right: 100px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: right 0.3s ease;
    }

    header {
        margin-left: 0;
        margin-right: 0;
    }

    .hamburger.active+.nav-menu {
        right: 0;
        z-index: 1;
        position: absolute;
    }

    .navbar {
        justify-content: space-between;
        /* margin: auto; */
        /* width: 100%; */
    }

    .nav-logo {
        position: relative;
        margin-left: 0;
        margin-left: 100px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hero {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .container {
        flex-direction: column;
        padding-top: 0;
    }

    .text-content {
        text-align: left;
    }

    .text-content h1 {
        font-size: 30px;
        margin-left: 15px;
    }

    .text-content p {
        font-size: 20px;
        margin-left: 15px;
    }

    .text-content .arrow {
        font-size: 15px;
        /* margin-left: 15px; */
    }

    .image-content {
        width: auto;
        height: auto;
        margin-left: 40px;
    }

    .labels .label span {
        font-size: 20px
    }

    .lowerImg {
        display: none;
    }

    .second-content {
        text-align: center;
        padding: 5px;

    }

    .second-content h2 {
        font-size: 30px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .second-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .card {
        /* margin: auto; */
        /* width: auto; */
        height: auto;
        font-family: Lexend;
    }

    .card-bg img {
        display: none;
    }

}