body {
    font-family: Lexend;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: white;
}

li {
    list-style: none;
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 1176px;
}

.nav-logo {
    position: relative;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.item-price {
    font-size: 16px;
    font-weight: 600;
    background-color: #F9D675;
    border-radius: 25px;
    padding: 13px 19px;
}

.item-price i {
    margin-left: 8px;
}

.arrow-right {
    font-size: 25px;
    margin-left: 9px;
    font-weight: 500;
    margin-top: 5px;
}

.hamburger {
    display: none;
}

.hero {
    position: relative;
    background-color: #C9F5FF;
}

.lowerImg {
    mix-blend-mode: luminosity;
    bottom: 0;
    position: absolute;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1176px;
}

.text-content {
    width: 600px;
    flex: 1;
}

.text-content h1 {
    font-size: 52px;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
}

.text-content .highlight {
    color: #37a7a5;
}

.text-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.text-content .Arrow {
    display: flex;
    align-items: center;
    font-weight: 400;
}
.text-content .Arrow p {
    color: #C39107;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 8px;
}

.image-content {
    position: relative;
    flex: 1;
    left: 10%;

}

.image-content img {
    position: relative;
}

.label {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    align-items: center;
    position: absolute;
}

.label.tech {
    top: 18%;
    left: 0%;
    display: flex;
    max-width: 263px;
    max-height: 69px;
}
.techText{
    max-width: 169px;
    max-height: 36px;
    font-size: 16px;
    font-weight: 600;
}

.label.tech img {
    max-width: 61.8px;
    max-height: 26.02px;
    padding-top: 23px;
    padding-left: 14px;
    padding-bottom: 22.98px;
    padding-right: 9.2px;
}

.label.cost {
    top: 29%;
    left: 53%;
    display: flex;
    max-width: 197px;
    max-height: 69px;
}
.techCost{
    max-width: 108px;
    max-height: 44px;
    font-size: 16px;
    font-weight: 600;
}
.label.cost img {
    max-width: 61.8px;
    max-height: 26.02px;
    padding-top: 23px;
    padding-left: 14px;
    padding-bottom: 22.98px;
    padding-right: 9.2px;
}

.label.solution {
    top: 75%;
    left: 10%;
    display: flex;
    max-width: 263px;
    max-height: 72px;
}
.techSolution{
    font-weight: 600;
    font-size: 16px;
    max-width: 168px;
    max-height: 40px;
}
.label.solution img {
    max-width: 61.8px;
    max-height: 26.02px;
    padding-top: 23px;
    padding-left: 14px;
    padding-bottom: 22.98px;
    padding-right: 9.2px;
}

.arrow-down{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    padding: 11px 19px;
    background-color: #F9D675;
    z-index: 1;
}
.second-content {
    position: relative;
    max-width: 1176px;
    margin: 0 auto;
}

.second-container {
    position: relative;
}

.second-container h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
}

.highlight {
    color: #2d9cdb;
}

.card-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.second-content-wrapper {
    display: flex;
    width: 100%;
}
.card {
    background-color: white;
    box-shadow: 0px 4px 25px 0px #4B4B4B26;
    max-width: 401px;
    max-height: 251px;
    border-radius: 15px;
    opacity: 0px;
    padding: 30px;
}

.card.price, .card.time, .card.manage, .card.cost {
    padding-left: 36px;
}

.card h3{
    max-width: 288px;
    font-size: 16px;
    font-weight: 600;
}

.card.price,.card.cost{
    padding-top: 30px;
}

.card.manage{
    padding-top: 21px;
}

.card.time{
    padding-top: 27px;
}

.card.time h3{
    max-width: 388px;
}

.card p{
    max-width: 384px;
}

.card.cost p{
    max-width: 364px;
}

.card.time p{
    max-width: 343px;
}

.price-box {
    align-items: center;
    justify-self: center;
    display: flex;
}

.card-bg {
    width: 438px;
    height: 805px;
    position: absolute;
    z-index: -1;
    top: 1%;
    left: 68%;
}

.card-bg img {
    height: auto;
    object-fit: cover;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;

        width: auto;
        height: auto;
    }

    .hamburger {
        display: block;
        margin-right: 100px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: right 0.3s ease;
    }

    header {
        margin-left: 0;
        margin-right: 0;
    }

    .hamburger.active+.nav-menu {
        right: 0;
        z-index: 1;
        position: absolute;
    }

    .navbar {
        justify-content: space-between;
        /* margin: auto; */
        /* width: 100%; */
    }

    .nav-logo {
        position: relative;
        margin-left: 0;
        margin-left: 100px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hero {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .container {
        flex-direction: column;
        padding-top: 0;
    }

    .text-content {
        text-align: left;
    }

    .text-content h1 {
        font-size: 30px;
        margin-left: 15px;
    }

    .text-content p {
        font-size: 20px;
        margin-left: 15px;
    }

    .text-content .arrow {
        font-size: 15px;
        /* margin-left: 15px; */
    }

    .image-content {
        width: auto;
        height: auto;
        margin-left: 40px;
    }

    .labels .label span {
        font-size: 20px
    }

    .lowerImg {
        display: none;
    }

    .second-content {
        text-align: center;
        padding: 5px;

    }

    .second-content h2 {
        font-size: 30px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .second-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .card {
        /* margin: auto; */
        /* width: auto; */
        height: auto;
        font-family: Lexend;
    }

    .card-bg img {
        display: none;
    }

}