body {
    font-family: Lexend;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: auto;
    margin: 15px;
}

.nav-logo {
    position: relative;
    flex-shrink: 0;
    margin-right: 25%;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    padding: auto;
    margin-right: 20px;
}

.hamburger {
    display: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100wh;
    font-family: Lexend;
    font-weight: bold;
    background-image: url('Pictures/Rectangle 29.png');
    position: relative;
    margin: 0;
    padding: 0;
}

.hero.img {
    position: relative;
    object-fit: cover;
    z-index: -1;
}

.lowerImg {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-left: 15px;
}

.text-content {
    margin-left: 0px;
}

.text-content h1 {
    font-size: 50px;
    color: #333;
    line-height: 1.4;
    margin-left: 10px;
}

.text-content .highlight {
    color: #2d9cdb;
}

.text-content p {
    font-size: 1.5em;
    color: #666;
    margin-top: 20px;
    margin-left: auto;
}

.text-content .arrow {
    margin-top: 40px;
    font-size: 1.2em;
    color: #ff9933;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.text-content .arrow::before {
    content: "↓";
    margin-right: 10px;
    font-size: 1.5em;
}

.image-content {
    position: relative;
    margin-bottom: 50px;
    height: auto;
    width: auto;
}

.image-content img {
    height: 100%;
    width: 100%;
    position: relative;
}

.labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.label {
    background-color: #fff;
    padding: 1.5% 1%;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    display: flex;
    align-items: center;
    position: absolute;
    transform-origin: top left;
}

.label.tech {
    border: 2px solid white;
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    width: 250px
}


.label.tech img {
    width: 60px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.label.cost {
    border: 2px solid white;
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    width: 200px;
}

.label.cost img {
    width: 80px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.label.solution {
    border: 2px solid white;
    position: absolute;
    top: 75%;
    left: 10%;
    display: flex;
}

.label.solution img {
    width: 60px;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.arrow::before {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: black;
    background-color: #ff9933;
}

.second-content {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    font-family: Lexend;
    font-weight: bold;
    justify-content: space-around;
}

.second-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.highlight {
    color: #2d9cdb;
}

.card-content {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3%;
    row-gap: 3%;
    padding: auto;
    /* margin-left: auto; */
}

.second-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.second-container h2 {
    font-size: 40px;
    color: #2F4858;
    margin-left:10%;
}

.card {
    background-color: white;
    border-radius: 30px;
    border: 2px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 10px;
    width: 400px;
    height: 200px;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 18px;
    color: #2F4858;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #606060;
    padding-bottom: 15px;
}

.card-bg {
    position: relative;
    top: 0;
    right: 110px;
    z-index: -1;
    width: auto;
    height: 100%;
}

.card-bg img {
    height: auto;
    object-fit: cover;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
        
        width: auto;
        height: auto;
    }
    .hamburger {
        display: block;
        margin-right: 100px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -200%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: right 0.3s ease;
    }

    header {
        margin-left: 0;
        margin-right: 0;
    }

    .hamburger.active+.nav-menu {
        right: 0;
        z-index: 1;
        position: absolute;
    }
    .navbar{
        justify-content: space-between;
        /* margin: auto; */
        /* width: 100%; */
    }
    .nav-logo{
        position: relative;
        margin-left:0;
        margin-left:100px;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .hero {
        height: 100%;
        width: 100%;
        padding: 0;
    }

    .container {
        flex-direction: column;
        padding-top: 0;
    }

    .text-content {
        text-align: left;
    }

    .text-content h1 {
        font-size: 30px;
        margin-left: 15px;
    }

    .text-content p {
        font-size: 20px;
        margin-left: 15px;
    }

    .text-content .arrow {
        font-size: 15px;
        /* margin-left: 15px; */
    }

    .image-content {
        width: auto;
        height: auto;
        margin-left: 40px;
    }

    .labels .label span {
        font-size: 20px
    }

    .lowerImg {
        display: none;
    }

    .second-content {
        text-align: center;
        padding: 5px;

    }

    .second-content h2 {
        font-size: 30px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .second-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width:100%;
        height: auto;
    }

    .card {
        /* margin: auto; */
        /* width: auto; */
        height: auto;
        font-family: Lexend;
    }

    .card-bg img {
        display: none;
    }

}